<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Homepage</title>
</head>
<body>
    <h1>Quotes</h1>
    
    <ul class="quotes">
    <% for (var i = 0; i < quotes.length; i++) { %>
        <li class="quote">
            <span><%= quotes[i].name %></span>
            <span><%= quotes[i].quote %></span>
        </li>
    <% } %>
    </ul>

    <form action="/quotes" method="post">
        <input type="text" placeholder="Name" name="name">
        <input type="text" placeholder="Quote" name="quote">
        <button type="submit">Submit</button>
    </form>
</body>
</html>